@import url("../global.css");

body {
    background-color: #4a4a4a;
}

.landing {
    background-image: url('../../img/capas/chimarrao.jpg');
    background-size: cover;
    background-position: center;
    height: 55vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}

.landingtitle {
    text-align: center;
    font-family: 'recife-display', sans-serif;
    font-size: 70px;
    color: #fff;
}

footer {
    width: 100%;
    height: 45vh;
    font-size: 20px;
    justify-content: start;
    gap: 10px;
}

.title {
    font-family: 'centra-no2', sans-serif;
    font-size: 32px;
    margin-bottom: 12px;
    margin-top: 23px;
    color: #fff;

}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

.item {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
}

.footersocial {
    margin: 0;
}