@import url("../gmobile.css");

.landingtitle {
    font-size: calc(1vw + 1vh + 5vmin);
}

.landingsub {
    font-size: calc(1vw + 1vh + 4vmin);
}

.container {
    justify-content: center;
    width: 80%;
}

.container form {
    flex-direction: column;
    align-content: center;
    width: 75%;
}

.container .item {
    width: 100%;
    max-width: 100%;
}

.item input[type="text"],
.item input[type="email"] {
    height: 25px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #333;
}

.item select {
    width: calc(100% + 5px);
}

.docsintro {
    padding: 55px 22px 0;
}

.container .items {
    padding: 22px 15px 5px;
}

.docscta button {
    min-width: 0;
    width: 100%;
}
