@import url("../global.css");

.landing {
    background-image: url('../../img/capas/redario.jpg');
}

.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 35px;
    background-color: #4a4a4a;
    height: calc(45vh - 200px);
    font-family: 'centra-no2', sans-serif;
    color: #fff;
}

.notfound span {
    margin-top: 20px;
}