@import url("../global.css");

.landingimg {
    object-position: bottom;
}

.landingbtn {
    font-family: 'centra-no2', sans-serif;
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    border: none;
    width: 210px;
    height: 60px;
    margin-top: 20px;
    font-size: 16px;
}

.landingbtn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
}

.empreendimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.selector {
    font-family: 'centra-no2', sans-serif;
    max-width: 850px;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.selector select {
    height: 28px;
    width: 215px;
    border-radius: 5px;
    border: solid 1px #333;
    background-color: #fff;
}

.selector select:hover {
    cursor: pointer;
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 850px;
    width: 95%;
}

.itemtitle {
    font-family: 'recife-display', Georgia;
    font-size: 20px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #000;
    width: 100%;
    text-shadow: 1px 1px 5px #7b7b7b;
}

.itemlogo {
    display: flex;
    justify-content: center;
}

.itemlogo img {
    width: 300px;
}

.itemimg {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    object-fit: cover;
}

.itemimgcontainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
}

.itemarrowleft,
.itemarrowright {
    cursor: pointer;
    position: absolute;
    width: 45px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.itemarrowleft:hover,
.itemarrowright:hover {
    width: 47px;
}

.itemarrowright {
    right: 0;
}

.itemimggallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.itemimgpreview {
    width: 100px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
}

.itemimgpreview:hover {
    cursor: pointer;
    width: 105px;
}

.itemimggallery img.selected {
    border: 2px solid #000;
    transition: border 0.5s ease;
}

.itemdesc {
    font-family: 'centra-no2', sans-serif;
    font-size: 17px;
    color: #000;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
}

.title {
    font-family: 'centra-no2', sans-serif;
    font-size: 19px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    font-weight: bold;
}

.itemlist {
    display: flex;
    font-family: 'centra-no2', sans-serif;
    font-size: 17px;
    color: #000;
    width: 100%;
}

.itemlist> :first-child {
    flex: 1;
    padding-right: 20px;
}

.itemlist> :last-child {
    flex: 1;
}

.analise {
    font-size: 20px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'centra-no2', sans-serif;
}

.small {
    font-size: 15px;
    color: #000;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'centra-no2', sans-serif;
}

#noitems {
    font-family: 'centra-no2', sans-serif;
    font-size: 20px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#loading,
#loaderror {
    font-family: 'centra-no2', sans-serif;
    font-size: 20px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 850px;
    width: 95%;
    gap: 5px;
    flex-wrap: wrap;
}

#loaderror a {
    color: #000;
}

.itemcta {
    align-self: center;
    margin-top: 25px;
}

.itemctabtn {
    font-family: 'centra-no2', sans-serif;
    border: none;
    min-width: 260px;
    padding: 0 25px;
    height: 60px;
    font-size: 16px;
    background-color: #575757;
    color: #fff;
}

.itemctabtn:hover {
    cursor: pointer;
    background-color: #6b6b6b;
}
