@font-face {
    font-family: 'recife-display';
    src: url('../fonts/recife-display-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'glacial-indifference';
    src: url('../fonts/glacial-indifference-regular.otf') format('opentype');
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'centra-no2';
    src: url('../fonts/centra-no2-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToRight {
    from {
        transform: translateX(0%);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #fff;
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.navlogo {
    width: 230px;
    margin-left: 55px;
}

.navbtns {
    margin-top: -65px;
    margin-left: 33%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.navbtn {
    font-family: 'centra-no2', sans-serif;
    background-color: transparent;
    color: #000;
    border: none;
    height: 50px;
    text-decoration: underline;
    font-size: 15px;
}

.selected {
    font-weight: bold;
    text-decoration: underline;
}

.navbtn:hover {
    cursor: pointer;
    font-weight: bold;
}

.navmenubtn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    display: none;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation-fill-mode: forwards;
    animation: slideInFromRight 0.2s;

}

.modal-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    gap: calc(10px + 1vw);
}

.menubtn {
    font-family: 'centra-no2', sans-serif;
    background-color: transparent;
    color: #000;
    border: none;
    height: 50px;
    font-size: calc(1vw + 1vh + 1vmin);
}

.menubtn:hover {
    cursor: pointer;
    font-weight: bold;
}

.close {
    color: #000;
    position: absolute;
    top: 16px;
    right: 14px;
    font-size: 60px;
    cursor: pointer;
    width: 45px;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.landing {
    background-size: cover;
    background-position: center;
    height: 55vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    top: 0;
    position: relative;
}

.landingimg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.landingtitle {
    text-align: center;
    font-family: 'recife-display', Georgia;
    font-size: 70px;
    font-weight: normal;
    color: #fff;
}

.whatsapp {
    width: 70px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.whatsapp:hover {
    cursor: pointer;
}

footer {
    background-color: #4a4a4a;
    color: #fff;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'centra-no2', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cnpj {
    margin-top: 5px;
    font-size: 15px;
    color: #9c9c9c;
}

.footersocial {
    width: 35px;
    margin-top: 10px;
    margin-right: 5px;
}

.footericon {
    width: 60px;
    margin-top: 10px;
    margin-right: 5px;
}

a {
    color: #fff;
}

a:visited {
    color: #fff;
}
