@import url("../global.css");

.landingtitle {
    text-shadow: 1px 1px 5px #333;
}

.landingsubtitle {
    text-align: center;
    font-family: 'recife-display', sans-serif;
    font-size: 30px;
    color: #fff;
    margin-top: 40px;
    text-shadow: 1px 1px 5px #333;
}

.sobrenos {
    margin-top: 45px;
    margin-bottom: 20px;
    width: 95%;
    height: auto;
    max-width: 850px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sobrenos span {
    font-family: 'centra-no2', sans-serif;
    font-size: 20px;
    color: #000;
    width: 100%;
}

.sobrenos .title {
    font-size: 30px;
}

img {
    width: 100%;
}